body {
    margin:0px;
    border-radius: 10px;
}

.wrapped {
    width: 250px;
    height: 300px;
    background: #EEEEEE;
}

.header {
    width: 100%;
    height: 40px;
    background: #ffffff;
    display: grid;
}

.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    align-self: center;
    justify-self: center;
}

div.year .year-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-variant: normal;
    font-weight: 600;
    cursor: pointer;
}

div.year .gpa {
    background: #eeeeee;
    padding: 5px;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: 600;
}

div.content .year {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin:15px;
}

.year-box, .semester-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.semester-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    border-radius: 10px;
    background: #eeeeee;
    padding:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-variant: normal;
    font-weight: 600;
}

div.gpa-white{
    background: #ffffff;
    padding: 5px;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: 600;
}

.full {
    border: 0.5px solid #000000;
}

div.content {
    overflow-y: auto;
    height:260px;
}

.footer {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    padding: 7px;

}

.footer a {
    text-decoration: none;
    color:#000000;
}

.hidden {
    display: none;
}
